@import "../../../styles/variables.scss";

/* The switch - the box around the slider */
.toggle-switch {
  padding-bottom: 1em;
  span {
    vertical-align: middle;
    font-weight: bold;
    color: $black;
    padding-right: 0.5em;
  }
  label.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: $green;
      }
      &:focus + .slider {
        box-shadow: 0 0 1px $green;
      }
      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      &.round {
        border-radius: 34px;
        &:before {
          border-radius: 50%;
        }
      }
      &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
    }
  }
}
