@import "styles/variables.scss";

.componente-motivo-da-recusa-de-homologacao {
  color: #42474a;

  .titulo {
    margin-top: 20px;
    font-size: 14px;
  }

  .texto-wysiwyg {
    border: 1px #dddddd solid !important;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 2px;
  }
}
