label {
  margin-bottom: 0 !important;
}

input::placeholder {
  text-align: left;
}

.breadcrumb-title {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #C8C8C8;
}

.BurgerBox {
  width: 18px !important;
  line-height: 3px;
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #c8c8c8;
}

.uppercase-label {
  width: 82px;
  height: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #c8c8c8;
}

.header-form-label {
  width: 240px;
  height: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #353535;
}

/* Headers */
.session-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #686868;
}

/* Font Style */
.bold {
  font-weight: bold;
}

.icon {
  color: #a8a8a8;
  padding-top: 34px;
  cursor: pointer;
}

.gray {
  color: #a8a8a8;
}

.badge-sme .id-of-solicitation {
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #353535;
}

.badge-sme .id-of-solicitation-dre {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #353535;
}

.badge-sme .number-of-order-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #353535;
}

.requester {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
}

.dre-name {
  font-family: Roboto;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #353535;
}

.report-label-value {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
}

.report-label-value .value {
  font-weight: bold;
}

.report-label-value .value-important {
  font-weight: bold;
  font-size: 15px;
  color: #353535;
}

.report-students-div {
  display: grid;
  font-size: 12px;
}

.Toastify__toast-container--top-center {
  font-weight: 500;
  font-size: 22px;
  left: 15%;
  min-width: 90%;
  text-align: center;
}

table.report-table {
  width: 100%;
}

table.report-table th {
  background: #333333;
  color: #ffffff;
  padding: 10px;
}

table.report-table td {
  text-align: center;
  color: #353535;
  border-bottom: 1px solid #353535;
}

table.table-lote th {
  font-weight: normal;
  font-size: 12px;
  color: #a8a8a8;
}

table.table-lote td {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  color: #853cb6;
}

table.table-lote th:nth-child(2) {
  padding-left: 120px;
}

table.table-lote td:nth-child(2) {
  padding-left: 120px;
}

textarea {
  min-height: 121px;
}

.title-color {
  color: #353535;
}

.number-registered {
  margin-top: 15px;
  color: #a8a8a8;
}

.purple {
  color: #853cb6;
}

.gray-rectangle {
  margin-right: 10px;
  background: #e8e8e8;
  float: left;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 40px;
  color: #686868;
}

.category {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #353535;
  padding: 20px;
}

.permission {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  padding: 10px;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 10px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #686868;
  cursor: pointer;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009bff;
  border-width: 0 3px 3px 0;
  transform: rotate(0deg) scale(0);
  opacity: 1;
}

.modal-90w { max-width: 90% !important; }

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #fff;
  border-radius: 5px;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid #686868;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #686868;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.fa-calendar {
  z-index: 1;
  padding-top: 12px;
  color: #a8a8a8;
  position: relative;
}

.fa-search.inside-input {
  z-index: 1;
  padding-top: 12px;
  color: #2881BB;
  font-size: 20px;
  position: relative;
}

.card-body {
  padding: 2rem !important;
}

.DraftEditor-root {
  z-index: 0;
}

div.react-datepicker-wrapper {
  margin-right: -30px;
}

.active-calendar > .input-group-prepend > .input-group-text,
.active-calendar > .react-datepicker-wrapper {
  background: #e4f1ff;
  border: 1px solid #2881bb;
  color: #2881bb;
}

.active-calendar > .react-datepicker-wrapper .form-control {
  color: #2881bb;
}

.active-calendar > i {
  color: #2881bb;
}

.schools-group {
  height: 520px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 1000px;
}

.school-container {
  padding-left: 1rem !important;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.v-align {
  padding-top: 9px;
}

.bold {
  font-weight: bold;
}

.icon {
  color: #a8a8a8;
  padding-top: 34px;
  cursor: pointer;
}

.gray {
  color: #a8a8a8;
}

textarea {
  min-height: 121px;
}

.number-registered {
  margin-top: 15px;
  color: #a8a8a8;
}
.label-n-alunos span {
  padding-right: 10px;
}

.purple {
  color: #853cb6;
}

.gray-rectangle {
  margin-right: 10px;
  background: #e8e8e8;
  float: left;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 40px;
  color: #686868;
}

.category {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #353535;
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #c8c8c8;
}

.dashboard-card-title {
  color: #035d96;
}

.dashboard-card-title i {
  color: #334d6e;
  padding-right: 15px;
}

.dashboard-card-title i:nth-child(2) {
  padding-left: 15px;
  color: #c2cfe0;
}

.dashboard-card-title span:nth-child(2) i {
  color: #686868;
}

input.input-search {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #a4a4a4;
  color: #a4a4a4;
  text-align: right !important;
  font-style: italic;
}

input.input-search::placeholder {
  text-align: right;
  color: #a4a4a4;
  padding-right: 5px;
}

.input-search-full-width {
  display: inline-flex;
  width: 100%;
}

.input-search-full-width input {
  margin-right: -30px;
}

.current-date {
  font-size: 13px;
}

.current-date span {
  color: #4c5862;
}

p.caption {
  font-size: 10px;
  color: #353535;
  padding-top: 15px;
}

div.caption-choices {
  font-size: 10px;
  color: #4c5862;
  display: inline-flex;
}

div.caption-choices span {
  padding-right: 30px;
}

div.caption-choices i {
  padding: 0 5px;
}

div.caption-choices span:nth-child(1) i {
  color: #5ec430;
}

div.caption-choices span:nth-child(2) i {
  color: #eb8002;
}

div.caption-choices span:nth-child(3) i {
  color: #c9251b;
}

div.caption-choices span:nth-child(4) i {
  color: #000000;
}

.orders-table {
  width: 100%;
}

.orders-table th {
  font-weight: normal;
  font-size: 14px;
  color: #686868;
}

.orders-table tr th:nth-child(1),
.orders-table tr td:nth-child(1) {
  width: 10%;
}

.orders-table tr th:nth-child(2),
.orders-table tr td:nth-child(2) {
  width: 10%;
}

.orders-table tr th:nth-child(3),
.orders-table tr td:nth-child(3) {
  width: 59%;
}

.orders-table tr td:nth-child(4) {
  padding-left: 180px;
  padding-right: 60px;
}

.orders-table tr th:nth-child(4){
  padding-left: 107px;
}

.orders-table td {
  font-weight: bold;
  font-size: 15px;
  color: #353535;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px 0;
}

.orders-table thead,
.orders-table tbody {
  display: block;
}

.orders-table tbody {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.multiselect-wrapper-disabled .dropdown-heading {
  pointer-events: none;
  background-color: #e9ecef !important;
}

.multiselect-wrapper-disabled
  .dropdown
  .dropdown-heading
  .dropdown-heading-value
  span {
  color: #5d515b !important;
}

.multiselect-wrapper-enabled
  .dropdown
  .dropdown-heading
  .dropdown-heading-value
  span {
  color: #5d515b !important;
}

.week-circle {
  height: 25px;
  width: 25px;
  padding-left: 7px;
  margin-left: 5px;
  color: #686868;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.week-circle-clicked {
  height: 25px;
  width: 25px;
  padding-left: 7px;
  margin-left: 5px;
  color: #fff;
  background-color: #686868;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}


.button-botton-card {
  display: flex;
  justify-content: flex-end;
}
