/* Labels */

label {
  margin-bottom: 0 !important;
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #c8c8c8;
}

.uppercase-label {
  width: 82px;
  height: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #c8c8c8;
}

.header-form-label {
  width: 240px;
  height: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #353535;
}

/* Headers */
.session-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #686868;
}

/* Font Style */
.bold {
  font-weight: bold;
}

.icon {
  color: #a8a8a8;
  padding-top: 34px;
  cursor: pointer;
}

.gray {
  color: #a8a8a8;
}

textarea {
  min-height: 121px;
}

.number-registered {
  margin-top: 15px;
  color: #a8a8a8;
}

.purple {
  color: #853cb6;
}

.gray-rectangle {
  margin-right: 10px;
  background: #e8e8e8;
  float: left;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 40px;
  color: #686868;
}

.category {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #353535;
  padding: 20px;
}

.permission {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  padding: 10px;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 10px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #686868;
  cursor: pointer;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  transform: rotate(0deg) scale(0);
  opacity: 1;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #fff;
  border-radius: 5px;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid #686868;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #686868;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.fa-calendar {
  z-index: 1;
  padding-top: 12px;
  color: #a8a8a8;
  position: relative;
}

.card-body {
  padding: 2rem !important;
}


.DraftEditor-root {
  z-index: 0;
}

div.react-datepicker-wrapper {
  margin-right: -30px;
}

.active-calendar > .input-group-prepend > .input-group-text,
.active-calendar > .react-datepicker-wrapper {
  background: #e4f1ff;
  border: 1px solid #2881bb;
  color: #2881bb;
}

.active-calendar > .react-datepicker-wrapper .form-control {
  color: #2881bb;
}

.active-calendar > i {
  color: #2881bb;
}

.schools-group {
  height: 299px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 1000px;
}

.school-container {
  padding-left: 1rem !important;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.v-align {
  padding-top: 9px;
}

.bold {
  font-weight: bold;
}

.icon {
  color: #a8a8a8;
  padding-top: 34px;
  cursor: pointer;
}

.gray {
  color: #a8a8a8;
}

textarea {
  min-height: 121px;
}

.number-registered {
  margin-top: 15px;
  color: #a8a8a8;
}

.purple {
  color: #853cb6;
}

.gray-rectangle {
  margin-right: 10px;
  background: #e8e8e8;
  float: left;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 40px;
  color: #686868;
}

.category {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #353535;
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #c8c8c8;
}

.multiselect-wrapper-disabled .dropdown-heading {
  pointer-events: none;
  background-color: #e9ecef !important;
}

.multiselect-wrapper-disabled .dropdown .dropdown-heading
.dropdown-heading-value span {
  color: #5d515b !important;
}

.multiselect-wrapper-enabled .dropdown .dropdown-heading
.dropdown-heading-value span {
  color: #5d515b !important;
}

.week-circle {
  height: 25px;
  width: 25px;
  padding-left: 7px;
  margin-left: 5px;
  color: #686868;
  background-color: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.week-circle-clicked {
  height: 25px;
  width: 25px;
  padding-left: 7px;
  margin-left: 5px;
  color: #fff;
  background-color: #686868;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
