.modal-cadastro-vinculo {
  width: 60vw !important;
  max-width: 60vw !important;

  //margin-top: 35vh !important;
  color: #333333;

  .label-radio {
    font-weight: bold;
    margin-right: 16px;
  }

  .botao-rf {
    margin-top: 30px;
    height: 35px;
  }
}
