@import "styles/variables.scss";

.cadastro-ficha-tecnica {
  .subtitulo {
    color: $green;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  hr {
    margin: 2rem 0;
  }

  .cadastro-externo {
    padding: 0 !important;

    .botao-cadastro-externo {
      height: 35px !important;
      margin-top: 30px;
      width: 100% !important;
    }
  }

  .steps {
    padding: 8px 0;

    svg {
      fill: #fff;
      stroke: #fff;
      stroke-width: 100;
    }

    .ant-steps .ant-steps-item-process .ant-steps-item-icon {
      background-color: #198459;
      border-color: #198459;
      font-weight: 900;
    }

    .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
      background-color: #90ceb5;
      border-color: #90ceb5;
    }

    .ant-steps
      .ant-steps-item-finish
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: #a4a4a4;
    }

    .ant-steps
      .ant-steps-item-process
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: #a4a4a4;
    }

    .ant-steps
      .ant-steps-item-wait
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: #a4a4a4;
    }
  }

  .input-ficha-tecnica {
    height: 35px;
  }

  .textarea-ficha-tecnica {
    height: 150px;
  }

  .label-unidade-medida {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 7.5px;
    padding-left: 0;
    color: #42474a;
  }

  .verde-escuro {
    color: $greenDark;
  }

  .label-radio {
    margin-bottom: 6px;
  }

  .container-radio {
    display: inline-block;
    margin-right: 16px;
    padding-left: 28px;
    padding-bottom: 16px;
  }
}
