@import "styles/variables.scss";

div.ver-dados-produto {
  div.title {
    color: $blackInput;
    font-weight: bold;
  }
  div.card-warning {
    border-radius: 4px;
    &.gray {
      color: $grayPlaceholder;
      border-color: $grayPlaceholder;
    }
  }
}
