@import "../../../../../../styles/variables.scss";

div.information-codae {
  font-size: 14px;
  .title {
    color: $gray;
    padding-bottom: 1em;
  }
  .card-warning {
    border: 1px solid $red;
    border-radius: 4px;
    color: $red;
    font-size: 10px;
    padding: 10px;
  }
}
