.modal-cestas {
  max-width: 650px !important;
  color: #42474a;

  .fas {
    font-size: 80px;
  }

  .row {
    padding: 12px;
  }

  .gray-bg,
  .modal-header {
    background-color: #f3f3f3;
  }

  .texto-contato {
    font-size: 11px;
  }
}
