.linked-card {
  a {
    color: #a8a8a8;
  }
}

.cadastro,
.modal-cadastro-lote {
  .col-sm-12,
  .col-xs-12,
  .col-md-12,
  .col-lg-12 {
    padding: 0;
  }
  ul.select-list {
    li {
      background-color: #035d96;
    }
  }
  label {
    &.label {
      font-weight: 600;
      font-size: 14px;
      color: #686868;
      span {
        color: #c9251b;
      }
    }
    &.link {
      cursor: pointer;
      font-weight: bold;
      color: #035d96;
    }
    &.label-selected-unities {
      font-weight: normal;
      font-size: 12px;
    }
  }
  .value-selected-unities {
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #353535;
  }
}

.modal-cadastro-lote {
  p {
    font-size: 14px;
    color: #686868;
    margin-bottom: 0;
    &:first-child {
      font-weight: bold;
    }
  }
}

.card-body {
  &.card-table-cadastro {
    padding: 0 !important;
  }
}

table.cadastro {
  width: 100%;
  .input-search {
    width: 50%;
    padding-right: 10px;
    &::placeholder {
      padding-right: 10px;
      text-align: right;
    }
  }

  th {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #686868;
    border-bottom: 2px solid #a8a8a8;
    padding-bottom: 10px;
    &:first-child {
      padding-left: 20px;
    }
  }
  td {
    font-size: 14px;
    color: #707683;
    padding: 15px 0;
    border-bottom: 1px solid #ebeff2;
    i {
      position: absolute;
      padding-left: 10%;
      color: #c8c8c8;
    }
    &:first-child {
      padding-left: 20px;
      width: 50%;
      font-weight: bold;
    }
    &:nth-child(2) {
      width: 19%;
    }

    &:nth-child(4) {
      text-align: center;
    }
  }
  tr.relationed-company-title {
    background: #f2fbfe;
    td {
      font-weight: 600;
      font-size: 14px;
      color: #686868;
      padding: 10px 0 0 0;
      border: none;
      &:first-child {
        padding-left: 20px;
      }
    }
  }
  tr.relationed-companies {
    background: #f2fbfe;
    td {
      background: #f2fbfe;
      font-weight: bold;
      font-size: 14px;
      color: #353535;
      border: none;
      padding: 10px 0;
      span {
        font-weight: 600;
        color: #707683;
      }
      &:first-child {
        padding-left: 20px;
      }
      &.last-item {
        padding-bottom: 30px;
      }
    }
  }
}

.button-action {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.lotes_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 15px 10px 15px;

  .drop-down-lotes {
    width: 50%;
    padding-right: 15px;
  }
  .select-lotes {
    width: 50%;
    padding-left: 15px;
  }
}

table.cadastro-empresa {
  width: 100%;
  .input-search {
    width: 50%;
    padding-right: 10px;
    &::placeholder {
      padding-right: 10px;
      text-align: right;
    }
  }

  th {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #686868;
    border-bottom: 2px solid #a8a8a8;
    padding-bottom: 10px;
    &:first-child {
      padding-left: 20px;
    }
  }
  td {
    font-size: 14px;
    color: #707683;
    padding: 15px 0;
    border-bottom: 1px solid #ebeff2;
    &:first-child {
      padding-left: 20px;
      width: 8%;
      font-weight: bold;
    }

    &:nth-child(4) {
      text-align: center;
    }
    &:nth-child(5) {
      display: flex;
      justify-content: flex-end;
      padding-right: 20%;
    }
  }

  .nome-empresa {
    width: auto;
    font-weight: bold;
  }

  .descricao {
    font-weight: bold;
    padding-right: 10px;
  }
  .valor-desc {
    font-weight: bold;
    color: #353535;
  }

  tr.relationed-company-title {
    background: #f2fbfe;
    td {
      font-weight: 600;
      font-size: 14px;
      color: #686868;
      padding: 10px 0 0 0;
      border: none;
      &:first-child {
        padding-left: 20px;
      }
    }
  }
  .detalhe-empresa {
    background-color: #f2fbfe;
    font-weight: bold;

    td {
      border: 0px;
      color: #000;
    }
  }
  tr {
    td.container-detalhe {
      background: #f2fbfe;
      padding: 15px 20px 15px 0px;
      div.container-info {
        display: grid;
        grid-template-columns: 46% 54%;
        grid-template-rows: 20% 20% 20% 20% 20%;

        div:not(:first-child):not(:nth-child(1)) {
          padding: 10px 0 5px;
        }

        div ul {
          list-style: none;
          padding: 0;
        }

        li {
          font-weight: bold;
          color: #353535;
        }
      }
    }
  }
}

.button-action {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.lotes_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 15px 10px 15px;

  .drop-down-lotes {
    width: 50%;
    padding-right: 15px;
  }
  .select-lotes {
    width: 50%;
    padding-left: 15px;
  }
}

.container-fields {
  display: grid;
  grid-template-columns: 95% 5%;

  .fields-set {
    display: grid;
    grid-template-columns: 38% 58%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 4%;
  }

  .fields-set-edital {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 52% 44%;
    grid-column-gap: 4%;
  }

  .fields-set-edital-plus {
    display: flex;
    justify-content: flex-end;

    div {
      width: 44%;
    }
  }

  .button-field {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.linha-form {
  margin: 0 !important;
}
