.bold {
  font-weight: bold;
}

.icon {
  color: #A8A8A8;
  padding-top: 34px;
  cursor: pointer;
}

.gray {
  color: #A8A8A8;
}

textarea {
  min-height: 121px;
}

.number-registered {
  margin-top: 15px;
  color: #A8A8A8;
}

.purple {
  color: #853CB6;
}

.gray-rectangle {
  margin-right: 10px;
  background: #E8E8E8;
  float: left;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 40px;
  color: #686868;
}

.category {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: normal;
  color: #353535;
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #C8C8C8;
}

.fa-calendar {
  z-index: 1;
  padding-top: 12px;
  color: #A8A8A8;
}

div.react-datepicker-wrapper {
  margin-right: -30px;
}

.active-calendar > .input-group-prepend > .input-group-text,
.active-calendar > .react-datepicker-wrapper {
  background: #E4F1FF;
  border: 1px solid #2881BB;
  color: #2881BB;
}

.active-calendar > .react-datepicker-wrapper .form-control {
  color: #2881BB;
}

.active-calendar > i {
  color: #2881BB;
}

.v-align {
  padding-top: 9px;
}
