@import "../../../styles/variables.scss";

div.react-datepicker-wrapper {
  margin-right: -30px;
}

.col-form-label {
  font-weight: 600 !important;
  font-size: 14px !important;
}

.input-group {
  &.calendar {
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    display: -webkit-inline-box;
    .input-group-prepend {
      @media only screen and (max-width: 1650px) {
        margin-top: 2px;
      }
      .input-group-text {
        display: block;
        text-align: center;
        min-width: 140px;
      }
    }
  }
  &.active-calendar {
    display: -webkit-inline-box;
    i {
      color: #2881bb;
    }
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: none;
    }
    .input-group-prepend {
      @media only screen and (max-width: 1650px) {
        margin-top: 1px;
      }
      .input-group-text {
        display: block;
        min-width: 140px;
        text-align: center;
        background: #e4f1ff;
        border: 1px solid #2881bb;
        color: #2881bb;
      }
    }
    .react-datepicker__input-container {
      background: #e4f1ff;
      border: 1px solid #2881bb;
      color: #2881bb;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      .form-control {
        color: #2881bb;
      }
    }
  }
}

.fa-calendar-alt {
  z-index: 0;
  cursor: text;
  padding-top: 12px;
  color: $green;
  position: relative;
}

.DraftEditor-root {
  z-index: 0;
}

.session-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #686868;
}

.variables {
  display: inline-flex;
  padding-left: 10px;
  div {
    margin: 0 5px;
    color: #686868;
    font-size: 11px;
    border: 1px solid #27ae60;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px 10px;
    cursor: pointer;
    &.used {
      background: #f8f5f5;
      color: #a8a8a8;
      border: 1px solid #dadada;
    }
  }
}

.wrapper-class {
  display: flex;
  flex-direction: column-reverse;
}
