@import "../../../../styles/variables.scss";

.value-important {
  &.link {
    color: $blue;
  }
}

.texto-wysiwyg td {
  border: 1px black solid !important;
}

.information-codae .card-body {
  padding: 1rem !important;
}

.botaoImprimirDieta {
  width: 65px;
}

.conferido {
  color: #198459;
  font-family: Roboto !important;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  padding: 10.75px;
}
