@import "../../../../styles/variables.scss";

.value-important {
  &.link {
    color: $blue;
  }
}

.texto-wysiwyg td {
  border: 1px black solid !important;
}

.information-codae .card-body {
  padding: 1rem !important;
}

.botaoImprimirDieta {
  width: 65px;
}
