@import "styles/variables.scss";

.resultado-busca-requisicao-entrega-dilog {
  margin-top: 10px;

  header {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #42474a;
  }

  .ant-switch-checked {
    background-color: #198459;
  }
  .ant-click-animating-node {
    -webkit-box-shadow: 0 0 0 0 #198459;
    box-shadow: 0 0 0 0 #198459;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #198459;
    border-color: #ffffff;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #198459;
  }

  article {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #e9eaea;
    box-sizing: border-box;
    margin: 10px 0 15px 0;

    .grid-table {
      height: 48px;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      display: grid;
      grid-template-columns: 0.15fr 0.6fr 0.6fr 0.8fr 0.7fr 0.5fr 0.5fr 0.1fr;
    }

    .header-table {
      background: #198459;
      color: #ffffff;
      font-weight: bold;
      div {
        text-align: left;
        display: grid;
        align-items: center;
        height: 100%;
        padding-left: 8px;
        &:not(:last-child) {
          border-right: 1px solid #e9eaea;
        }

        &:last-child {
          border-right: 0px solid #e9eaea;
        }
      }
    }

    .body-table {
      font-weight: 500;
      color: #686868;

      .desativar-borda {
        border-left: 0px solid #e9eaea;
        color: #42474a;
        font-weight: 900;
      }

      div {
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e9eaea;
        text-align: left;
        padding-left: 8px;
        &:not(:last-child) {
          border-right: 1px solid #e9eaea;
        }
      }

      div:last-child {
        border-right: 0px solid #e9eaea;
      }
    }

    .resultado-busca-detalhe {
      font-size: 14px;
      color: #686868;
      font-style: normal;
      font-weight: normal;
      border-bottom: 1px solid #e9eaea;
    }

    .acoes {
      font-size: 14px !important;
      display: inline-block;
    }

    .confirmar {
      color: $green !important;
      display: inline !important;
      padding-left: 0;
    }

    .alterar {
      color: $blue !important;
      display: inline !important;
    }

    .imprimir {
      display: inline !important;
    }
  }
}
