@import "../../../styles/variables.scss";

div.textarea {
  font-size: 14px;
  span.required-asterisk {
    color: $red;
    padding-right: 5px;
  }
  textarea {
    font-size: 14px;
    color: $blackInput;
    &:focus {
      color: $blackInput;
    }
    &::placeholder {
      color: $grayPlaceholder;
      text-align: left;
    }
    &.invalid-field:not(:focus):invalid {
      box-shadow: none;
      border-color: $red;
    }
    &:disabled {
      background-color: $grayDisabled;
    }
  }
}
