@import "styles/variables.scss";

body {
  background-color: #f7f6f8 !important;
}

body.dark-content {
  background-color: #464646 !important;
}

.navbar-sme {
  width: 100%;
}

.bg-gradiente-sme {
  margin-top: -1.3rem;
  background-color: $green;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.15);
  background-size: cover;
  margin-left: -15px;
  height: 100%;
}

.dark-content {
  .bg-gradiente-sme {
    background-color: #242424;
  }

  .sidebar {
    &:not(.toggled) {
      .sidebar-wrapper {
        &.div-submenu {
          background: #404040;
        }
      }
    }
  }

  .sidebar-dark {
    // ::-webkit-scrollbar {
    //   width: 8px;
    // }
    // ::-webkit-scrollbar-track {
    //   background: $grayDisabled;
    // }
    // ::-webkit-scrollbar-thumb {
    //   background: $grayHeader;
    // }
    // ::-webkit-scrollbar-thumb:hover {
    //   background: $gray;
    // }
    i.fa-chevron-circle-left,
    i.fa-chevron-circle-right {
      padding-right: 10px;
      color: white;
    }
    .sidebar-wrapper {
      &.div-submenu {
        height: max-content;
      }
      .nav-item {
        position: relative;
        text-align: -webkit-center;
        .bg-white.collapse-inner.rounded {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
          width: 15rem;
          .submenu {
            .collapse-item {
              padding-left: 2rem;
              &:not(:last-child) {
                border-bottom: none !important;
              }
              .quebra-titulos {
                white-space: break-spaces;
              }
            }
          }
          .collapse-item {
            color: white;
            background-color: #202020;
            &:hover {
              border-left: 10px solid #919191;
              background-color: #525252;
            }
            &:not(:hover):not(:last-child) {
              border-bottom: 1px solid #919191;
            }
          }
        }
        .nav-link {
          &:hover,
          &:not(.collapsed) {
            border-radius: 5px;
            background-color: #202020 !important;
            span {
              color: white !important;
            }
            i {
              color: white !important;
            }
            &.nav-link[data-toggle="collapse"]::after {
              color: white !important;
            }
          }
          &.keep-hover-settings,
          &:not(.collapsed) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }
}

.sidebar {
  &:not(.toggled) {
    .sidebar-wrapper {
      &.div-submenu {
        overflow-x: auto;
        background: #13764e;
        border-radius: 10px;
        margin: 0 0.65rem 0 0.95rem;
        max-height: 15rem;

        @media screen and (min-height: 700px) {
          max-height: 20rem;
        }

        @media screen and (min-height: 900px) {
          max-height: 25rem;
        }
      }
    }
  }
}

.conteudo-detalhes {
  width: 80%;
  font-size: 0.9rem;
  line-height: 1.3;
}

.marca-dagua {
  position: fixed;
  margin: 10% 25%;
  height: 409px;
  width: 347;
}

.sidebar-dark {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: $grayDisabled;
  }
  ::-webkit-scrollbar-thumb {
    background: $grayHeader;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $gray;
  }
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  i.fa-chevron-circle-left,
  i.fa-chevron-circle-right {
    padding-right: 10px;
    color: white;
  }
  .sidebar-wrapper {
    &.div-submenu {
      height: max-content;
    }
    .nav-item {
      cursor: pointer;
      position: relative;
      text-align: -webkit-center;
      .bg-white.collapse-inner.rounded {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        width: 15rem;
        .submenu {
          .collapse-item {
            padding-left: 2rem;
            &:not(:last-child) {
              border-bottom: none !important;
            }
            .quebra-titulos {
              white-space: break-spaces;
            }
          }
        }
        .collapse-item {
          color: $gray;
          text-align: left;
          word-break: break-all;
          margin-left: 0;
          margin-right: 0;
          border-radius: 0;
          &:hover {
            border-left: 10px solid $greenHover;
          }
          &:not(:hover):not(:last-child) {
            border-bottom: 1px solid $greenHover;
          }
          i {
            padding-left: 20px;
            font-size: 12px;
          }
        }
      }
      .nav-link {
        font-weight: bold;
        span {
          color: white !important;
          letter-spacing: 0.14px;
        }
        i {
          color: white !important;
          width: 30px;
        }
        &:hover,
        &:not(.collapsed) {
          border-radius: 5px;
          background-color: white !important;
          span {
            color: $green !important;
          }
          i {
            color: $green !important;
          }
          &.nav-link[data-toggle="collapse"]::after {
            color: $green !important;
          }
        }
        &.keep-hover-settings,
        &:not(.collapsed) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
  .sidebar-brand-text {
    .nav-item {
      .profile {
        text-align: center;
        i,
        span {
          font-size: 14px;
          color: white;
        }
        span {
          padding-left: 5px;
        }
      }
    }
  }
  .page-footer {
    position: absolute;
    bottom: 15px;
    z-index: -100;
    width: 100%;
  }
}

.sidebar-dark.toggled {
  .nav-item {
    .bg-white.collapse-inner.rounded {
      margin-left: -20px;
    }
    .nav-link {
      span {
        font-size: 10px !important;
      }
      i {
        font-size: 26px;
      }
    }
  }
}

.sidebar-dark:not(.toggled) {
  .nav-item {
    //height: 35px;
    .nav-link {
      span {
        font-size: 14px !important;
      }
      i {
        padding-right: 13.4px;
      }
    }
  }
}

.testing-sidebar {
  color: white;
  cursor: pointer;
  font-size: 10px;
  div:first-child {
    margin-left: 2rem;
  }
}

.logo-sme {
  width: 60%;
}
