@import "../../../styles/variables.scss";

.table-lote {
  p {
    font-size: 14px;
    color: $blackInput;
  }
  table {
    th {
      font-weight: normal;
      font-size: 12px;
      color: #a8a8a8;
      &:nth-child(2) {
        padding-left: 120px;
      }
    }
    td {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 12px;
      color: $grayPlaceholder;
      &:nth-child(2) {
        padding-left: 120px;
      }
    }
  }
}
