// COLORS
$black: #000000;
$blackSubtle: #333333;
$blue: #035d96;
$blueButtonBackground: #064f79;
$blueButtonFont: #086397;
$blueCheckAndRadio: #007bff;
$blueIcon: #334d6e;
$blueSelected: #f2fbfe;
$gray: #686868;
$grayHeader: #929394;
$grayIcon: #c2cfe0;
$grayInputBackground: #e8e8e8;
$grayLight: #a8a8a8;
$green: #198459;
$greenHover: #00c855;
$greenPanel: #297805;
$orange: #d06d12;
$placeholder: #ced4da;
$red: #a50e05;
$white: #ffffff;
$whiteBackground: #f8f5f5;
