body {
  background-color: #f7f6f8 !important;
}

.navbar-sme {
  width: 100%;
}

.bg-gradiente-sme {
  background-color: #8bc34a;
  background: linear-gradient(45deg, #388e3c 0%, #8bc34a 100%);
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.15);
  background-size: cover;
  margin-left: -15px;
  height: 100%;
}
