.input-controle-sobras[disabled],
.input-controle-sobras input[disabled],
.ant-picker-disabled {
  color: #6e707e !important;
  background-color: #eaecf4 !important;
  background-image: none !important;
  font-weight: bold;
}

.input-data-hora {
  height: 35px !important;

  .ant-picker {
    height: 35px;
  }
}

.col-input-controle-sobras-addon {
  .input-group-text {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #888;
  }
}