@import "styles/variables.scss";

.panorama-geral-escola {
  .cabecalho-tabela {
    display: grid;
    grid-template-columns: 20% 15% 15% 50%;
    min-height: 100px;
    > div {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $blackSubtle;
      background-color: $grayLightHeader;
      border: 1px solid $grayBorder;
      font-weight: 700;
      padding: 1em;
    }
  }
  .subcabecalho-tabela {
    display: flex;
    flex-flow: column;
    > div {
      width: 100%;
      height: 50%;
    }
    > div:nth-child(1) {
      text-align: center;
      border-bottom: 2px solid $grayBorder;
    }
  }
  .cabecalho-qtde-dieta {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
    > div {
      padding: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  .linha-tabela {
    display: grid;
    grid-template-columns: 20% 15% 15% 16.66% 16.66% 16.66%;
    min-height: 50px;
    > div {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $blackSubtle;
      border: 1px solid $grayBorder;
      font-weight: 700;
      padding: 1em;
    }
  }
  .rodape-tabela {
    display: grid;
    grid-template-columns: 35% 15% 16.66% 16.66% 16.66%;
    min-height: 50px;
    > div {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $blackSubtle;
      background-color: $grayLightHeader;
      border: 1px solid $grayBorder;
      font-weight: 700;
      padding: 1em;
    }
  }
}
