svg.ck.ck-icon.ck-reset_all-excluded.ck-icon_inherit-color.ck-dropdown__arrow {
  z-index: 0;
}

button.ant-btn.css-dev-only-do-not-override-yp8pcc.ant-btn-primary {
  background-color: transparent;
  border: 1px solid #198459;
  color: #198459;
  font-weight: 900;
  height: 40px;
  border-radius: 5px;
}

button.ant-btn.css-dev-only-do-not-override-yp8pcc.ant-btn-primary:hover {
  border: 1.5px solid #198459;
  color: #ffffff;
  background-color: #198459;
}

button.ant-btn.css-dev-only-do-not-override-yp8pcc.ant-btn-default {
  display: none;
}
