@import "../../styles/variables.scss";

.lista-escolas {
  margin: 0 3% 3% 0;
  padding: 0;

  .card {
    .escola {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      padding: 0;
      color: #42474a;
    }

    .local {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      padding: 0;
      color: #929394;
    }
  }
}

.botao-remover-escola {
  border-radius: 50% !important;
  width: 100%;
}

.wrapper-solicitacao {
  background-color: #f4f4f4;
}

.required-asterisk {
  color: $red;
  padding-right: 5px;
}

.card-kits {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #42474a;
  border: 1px solid #929394 !important;
  background-color: #f4f4f4 !important;

  .nome-kit {
    font-weight: 900;
  }

  .kit-itens ul {
    list-style: none;
    padding: 0;
  }
}
