.card-relatorio-situtacao {
  margin-bottom: 15em !important;
}

.datepicker-fixed-padding {
  color: #42474a !important;
  padding: 2px !important;
}

.modal-rodape-situacao {
  display: block !important;
}
