@import "../../../styles/variables.scss";

.tabs {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  margin-left: 1em;
  margin-right: 1em;
  .tab {
    padding-bottom: 5px;
    &.active {
      color: $green;
      border-bottom: 3px solid $green;
    }
    &.inactive {
      color: $grayDisabled;
      border-bottom: 3px solid $grayDisabled;
    }
  }
}
