.ant-form-item {
  flex: 1;

  & > div {
    display: flex;
    flex-direction: column;

    .ant-form-item-label {
      display: flex;

      label {
        justify-self: flex-start;
      }
    }

    .ant-input-number,
    .ant-input {
      height: 37px;
      width: 100%;
      line-height: 37px;
      margin-top: 0.4em;
    }
  }
}
.label {
  line-height: 40px;
}
.dropdown-heading-value {
  line-height: 36px !important;
}
