@import "styles/variables.scss";

.programas-autorizados {
  .cabecalho-tabela,
  .linha-tabela {
    display: grid;
    grid-template-columns: 30% 15% 15% 20% 20%;
  }
  .cabecalho-tabela {
    min-height: 100px;
    > div {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $blackSubtle;
      background-color: #f5f6f8;
      border: 1px solid #e9eaea;
      font-weight: 700;
      padding: 1em;
    }
  }
  .linha-tabela {
    min-height: 50px;
    > div {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $blackSubtle;
      border: 1px solid #e9eaea;
      font-weight: 700;
      padding: 1em;
    }
  }
  .texto-rodape {
    font-size: 12px;
    color: $blackSubtle;
    font-weight: 700;
    text-align: right;
  }
}
