div.modal-cadastrar-sobremesa {
  div.modal-content {
    margin-top: 25%;
    min-height: 55vh;
  }

  .botao-adicionar-excluir {
    width: 95%;

    @media screen and (max-width: 1690px) {
      width: 120%;
      margin-left: -5px !important;
    }
  }

  div.footer {
    position: absolute;
    right: 1em;
    bottom: 1em;
  }
}
