@import "../../../styles/variables.scss";

.cinza-escuro {
  color: $gray;
}

.grid-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  column-gap: 2%;
  row-gap: 0.5em;
}

.ajuste-fonte {
  font-size: 14px;
  font-weight: 500;
  color: #686868;
}
