@import "../../../../styles/variables.scss";

form.special-diet {
  .cinza-escuro {
    color: $gray;
  }
  .grid-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    column-gap: 2%;
    row-gap: 0.5em;
  }
  .ajuste-fonte {
    font-size: 14px;
    font-weight: 500;
    color: #686868;
    span {
      color: $red;
    }
  }
  .attachments {
    .text {
      font-size: 14px;
      color: #686868;
    }
    .card-warning {
      border: 1px solid $red;
      color: $red;
      font-size: 10px;
      padding: 10px;
    }
    .btn {
      display: flex;
      margin-top: 2em;
      justify-content: flex-end;
    }
  }
}
div.datepicker
  div.react-datepicker-wrapper
  .react-datepicker__input-container
  input {
  // TODO: Pedro, arrumar o background do input porque esta afetando todos os componentes input
  // background-color: #dadada;
}

div.current-diets {
  font-size: 14px;
  .no-diets {
    color: $red;
  }
  p.title {
    font-style: normal;
    color: $gray;
  }
  div.school-container {
    hr {
      margin: 0;
    }
    div.title {
      color: $blackSubtle;
      font-weight: bold;
    }
    div.container {
      padding-left: 1em;
      table.table-periods {
        color: $gray;
      }
    }
  }
}

div.card {
  &.opaco {
    opacity: 0.5;
  }
}
