.data_inicio {
  label {
    font-weight: 500 !important;
    color: #686868 !important;
  }
}

.filtros-entregas-dilog {
  padding-bottom: 40px;

  .data-inicial {
    height: 40px !important;
  }

  .data-final {
    height: 40px !important;
  }

  .input-consulta-entregas {
    height: 40px !important;
  }
}
