@import "styles/variables.scss";

.adicionar-parametrizacao {
  table .ant-form-item {
    margin-bottom: 0;
  }

  table th {
    background-color: $greenDark !important;
    color: $white !important;
  }
}
