@import "../../../../../styles/variables.scss";

div.cadastro-produto-step3 {
  .card-title {
    padding-top: 1.5em;
    font-weight: bold;
    font-size: 14px;
    color: $blackInput;
  }
  textarea::placeholder {
    text-align: left;
  }
  div.produto {
    font-size: 14px;
    label {
      color: $blackInput;
      span {
        color: $red;
      }
    }
    div.explicacao {
      color: $gray;
    }
  }
  span.delete {
    margin-left: 2em;
    font-weight: bold;
    background-color: $blue;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: $blue;
    }
  }
}

.attachments {
  .text {
    font-size: 14px;
    color: #686868;
  }
  .card-warning {
    border: 1px solid $red;
    color: $red;
    font-size: 10px;
    padding: 10px;
  }
  .btn {
    display: flex;
    margin-top: 2em;
    justify-content: flex-end;
  }
}
