@import "../../../../styles/variables.scss";

.faixas-etarias {
  .select-meses {
    height: 20em !important;
  }
  .faixa-etaria-item-editando {
    background-color: $greenHover !important;
  }
  .faixa-etaria-item {
    display: flex;
    button {
      margin-left: 1em;
    }
    .input {
      flex-grow: 100;
    }
  }
  .table {
    .thead-light th {
      background-color: $grayHeader;
      border: 1px solid $grayHeader;
      color: $blackSubtle;
    }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid $grayHeader;
    }
  }
}
