.custom-modal-size {
  width: 60vw !important; /* Occupy the 90% of the screen width */
  max-width: 60vw !important;
}

.table-consolidado-alimentos {
  thead {
    background: #f5f6f8;
    color: #42474a;
    font-weight: bold;
  }
}
