@import "styles/variables.scss";

.listagem-relatorios-visita {
  .titulo-verde {
    color: #0c6b45;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
    font-weight: bold;
  }

  article {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #e9eaea;
    box-sizing: border-box;
    margin: 10px 0 15px 0;

    .grid-table {
      min-height: 40px;
      font-size: 14px;
      line-height: 18px;
      display: grid;
      align-items: center;
      text-align: center;
      grid-template-columns: 12fr 18fr 6fr 8fr 5fr;
    }

    .header-table {
      background: #f5f6f8;
      color: #42474a;
      font-weight: bold;

      div {
        display: flex;
        align-items: center;
        text-align: left;
        height: 100%;
        border-right: 1px solid #e9eaea;
        padding: 8px;

        &:last-child {
          border-right: 0px solid #e9eaea;
        }
      }
    }

    .body-table {
      font-weight: 500;
      color: #686868;

      .verde {
        color: $green;
      }

      button {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
      }

      button:disabled {
        color: #bcbcbc;
        cursor: no-drop;
      }

      .fas {
        font-weight: 900;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.01em;
        padding-right: 5px;
        padding-left: 5px;
        text-decoration: none;
      }

      div {
        display: flex;
        align-items: center;
        text-align: left;
        height: 100%;
        border-bottom: 1px solid #e9eaea;
        border-right: 1px solid #e9eaea;
        padding: 8px;

        &:last-child {
          border-right: 0px solid #e9eaea;
        }
      }
    }
  }
}
