.grid-cronograma {
  .grid-cronograma-header {
    > div {
      font-weight: bold;
      padding: 10px 19px;
    }

    .crono-header-green {
      color: #fff;
      background-color: #198459;
    }
  }

  .grid-cronograma-body {
    > div {
      padding: 10px 19px;
      border: 1px solid rgba(241, 241, 241, 0.932);
    }
  }
  .grid-cronograma-header,
  .grid-cronograma-body {
    display: grid;
    grid-template-columns: 20% 9% 9% 22% 15% 25%;
  }
}
