@import "styles/variables.scss";

.lancamento-por-periodo-card {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0px;
  padding: 14px 22px 14px 22px;
  .row {
    margin: 0px;
  }
  .periodo-cabecalho {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
  .link-abrir {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #198459;
    p:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .total-alimentacoes {
    border: 0.5px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    span:nth-child(1) {
      font-size: 34px;
      line-height: 40px;
    }
    span:nth-child(2) {
      font-weight: bold;
      font-size: 10px;
      line-height: 10px;
    }
  }
  .alimentacoes-por-tipo {
    font-size: 16px;
    line-height: 19px;
    color: $blackSubtle;
    display: flex;
    flex-direction: column;
    span {
      margin-top: 6px;
    }
  }
  .col-form-label {
    font-size: 14px;
    span {
      color: red;
    }
  }
  .botoes-envio {
    display: flex;
    justify-content: flex-end;
  }
  .erros-formulario {
    color: red;
  }
}
