@import "../../../../styles/variables.scss";

.input-file {
  text-align: right;
  input.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .file-div {
    margin: 0;

    .file-name-container {
      font-size: 14px;
      margin-top: 6px;
      height: 24px;
      color: $blue;
      background: #f3f3f3;
      width: auto;
      display: inline-block;

      .file-name {
        margin-left: 6px;
        margin-right: 36px;
        &:hover {
          text-decoration: underline;
        }
      }

      .fas {
        color: #6f777c;
        font-size: 16px;
        padding-top: 4px;
      }
    }
    .exclude-icon {
      i {
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.align-left {
  text-align: left;
}
