@import "../../../../../styles/variables.scss";

.card-embalagens-cadastradas {
  .embalagens-cadastradas {
    table.tabela-embalagens {
      width: 100%;
      .input-search {
        width: 50%;
        padding-right: 10px;
        border: none;
        &::placeholder {
          padding-right: 10px;
          text-align: right;
        }
      }

      th {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: $gray;
        border-bottom: 2px solid #a8a8a8;
        padding-bottom: 10px;
        padding-left: 0px;
        &:first-child {
          padding-left: 20px;
        }
        width: auto;
        &:last-child {
          max-width: 130px;

          input {
            width: 80%;
          }
        }
      }

      td {
        font-size: 14px;
        color: #707683;
        padding: 15px 0;
        border-bottom: 1px solid #ebeff2;
        &:first-child {
          padding-left: 20px;
          font-weight: bold;
        }
        .fa-edit {
          color: $green;
          font-size: 18px;
        }
      }

      .nome-embalagem {
        width: auto;
        font-weight: bold;
      }
    }
  }
}
