.borderless-textarea {
  padding: 0px !important;
  height: 50px;
  width: 100%;
  textarea {
    border: 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    resize: none;
    min-height: 50px !important;
    height: 50px !important;
  }
  textarea:disabled {
    background: #ccc;
  }
  &.borderless-textarea-error textarea {
    outline-color: red;
    border: 2px solid red;
  }
}
