@import "styles/variables.scss";

div.novo-relatorio-visitas {
  div.cabecalho {
    h2 {
      color: $green;
      font-size: 14px;
      font-weight: bold;
    }

    .ant-select-selection-placeholder {
      font-weight: normal !important;
    }
  }
}
