@import "../../../styles/variables.scss";

button.general-button {
  border-radius: 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: 38px;
  padding: 0 12px;
  text-align: center;
  border: 1px solid;
  i.text-and-icon {
    padding-right: 8px;
  }
  &.blue-button {
    background-color: $blueButtonFont;
    border: none;
    color: $white;
    i {
      color: $white;
    }
    &:hover {
      background-color: $blueButtonBackground;
    }
    &:disabled {
      background-color: transparent;
      color: $grayDisabled;
      border: 1px solid $grayDisabled;
    }
  }
  &.blue-button-outline {
    color: $blueButtonFont;
    border-color: $blueButtonFont;
    background-color: transparent;
    i {
      color: $blueButtonFont;
    }
    &:hover {
      color: $white;
      background-color: $blueButtonBackground;
      i {
        color: $white;
      }
    }
    &:disabled {
      background-color: transparent;
      color: $grayDisabled;
      border: 1px solid $grayDisabled;
    }
  }
  &.green-button {
    background-color: $green;
    border: 1.5px solid $green;
    color: $white;
    i {
      color: $white;
    }
    &:hover {
      background-color: $greenButtonHover;
    }
    &:disabled {
      background-color: transparent;
      color: $grayDisabled;
      border: 1px solid $grayDisabled;
    }
  }
  &.green-button-outline {
    color: $green;
    border: 1px solid $green;
    background-color: transparent;
    &:not(:disabled) {
      i {
        color: $green;
      }
    }

    &:hover:not(:disabled) {
      color: $white;
      background-color: $greenButtonHover;
      i {
        color: $white;
      }
    }
    &:disabled {
      background-color: transparent;
      color: $grayDisabled;
      border: 1px solid $grayDisabled;
    }
  }
  &.red-button {
    color: $white;
    border: 1.5px solid $redToastError;
    background-color: $redToastError;
    i {
      color: $white;
    }
    &:hover {
      color: $redToastError;
      background-color: $white;
      i {
        color: $redToastError;
      }
    }
    &:disabled {
      background-color: transparent;
      color: $grayDisabled;
      border: 1px solid $grayDisabled;
    }
  }
  &.red-button-outline {
    color: $redToastError;
    border: 1px solid $redToastError;
    background-color: transparent;
    i {
      color: $redToastError;
    }
    &:hover {
      color: $white;
      background-color: $redToastError;
      i {
        color: $white;
      }
    }
    &:disabled {
      background-color: transparent;
      color: $grayDisabled;
      border: 1px solid $grayDisabled;
    }
  }

  &.dark-button-outline {
    color: $blackInput;
    border-color: $blackInput;
    background-color: transparent;

    i {
      color: $blackInput;
    }
    &:hover {
      color: $white;
      background-color: $blackInput;
      i {
        color: $white;
      }
    }
    &:disabled {
      background-color: transparent;
      color: $grayDisabled;
      border: 1px solid $grayDisabled;
    }
  }
}
