.table-alimentacao {
  font-family: Roboto;
  font-style: normal;

  .table-head-alimentacao {
    font-weight: bold;
    font-size: 14px;
    background: #e5e5e5;
    color: #42474a;
  }
  .table-body-alimentacao {
    font-size: 13px;
    color: #42474a;
  }
}
