@import "../../../../styles/variables.scss";

.card-conferencia-guia-ocorrencia {
  .conferencia-guia-ocorrencia {
    .subtitulo {
      font-weight: 500;
      font-size: 20px;
      color: #42474a;
    }
    .header-alimento {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: space-between;
      background: $greenDark;
      border-radius: 4px;
      color: white;
      padding: 6px;
      font-size: 18px;
      line-height: 21px;
    }
    .info-field {
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
    }

    .table-conferencia {
      th {
        background-color: $greenLight;
        color: $white;
        padding: 6px 4px 6px 8px;
        font-size: 14px;

        .text-center {
          padding: 6px 0px;
        }
      }

      td {
        width: 16.666%;
        font-size: 14px;
      }

      .form-tabela {
        width: 100%;
      }

      .th-recebido {
        background-color: #198459;
      }
    }

    .tooltip-botao {
      position: relative;
      display: inline-block;
    }

    .tooltip-botao .tooltiptext {
      visibility: hidden;
      width: 150%;
      background-color: rgba(0, 0, 0, 0.75);
      color: #fff;

      border-radius: 4px;
      padding: 6px 8px;
      position: absolute;
      z-index: 1000;
      bottom: 125%;
      left: -25%;
      opacity: 0;
      transition: opacity 0.1s;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.5;
      list-style: none;
      text-decoration: none;
      word-wrap: break-word;
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    .tooltip-botao .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
    }

    .tooltip-botao:hover button:disabled + .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    .span-icone-toogle {
      background-color: rgb(199, 201, 200);
      border-radius: 67px;
      border: 1px solid rgb(199, 201, 200);
      padding: 8px 12px;
      font-size: 16px;
      color: #42474a;
    }

    #accordionNotificacoes > .card {
      border-radius: 5px;
    }

    #accordionNotificacoes > .card > .card-header {
      border-radius: 5px;
      margin-bottom: 0;
      background-color: #fff;
    }

    .descricao-notificacao {
      * {
        font-size: 16px;
      }
    }

    .card-header-notificacao-lida {
      border-left: #a4a4a4 solid 8px !important;
      p,
      span {
        color: #a4a4a4 !important;
      }
    }

    .card-header-notificacao-pendente {
      background: #b40c021a !important;
      border: 1px solid #b40c02 !important;
      border-left: #b40c02 solid 8px !important;
    }

    #accordionNotificacoes .card-header,
    #accordionNotificacoes .card-body {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      background-color: #f3f3f3;
    }

    .card-header {
      height: 110px;

      .card-header-content {
        height: 100%;
        align-content: center;
      }
    }

    .data-notificacoes {
      font-size: 20px;
      font-weight: bold;
    }

    .titulo-notificacao {
      font-weight: 700;
    }

    .remetente-categoria {
      font-size: 14px;
    }

    .span-tipo-pendencia,
    .span-tipo-informacao,
    .span-tipo-aviso,
    .span-tipo-alerta {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 16px;
      font-weight: 700;
    }

    .card-tipo-pendencia {
      border-left: #b40c02 solid 8px;
    }
    .span-tipo-pendencia {
      color: #b40c02;
    }

    .span-tipo-aviso {
      color: #0048a9;
    }
    .card-tipo-aviso {
      border-left: #0048a9 solid 8px;
    }

    .span-tipo-alerta {
      color: #d06d12;
    }

    .card-tipo-alerta {
      border-left: #d06d12 solid 8px;
    }

    .container-form-filtros {
      border-bottom: solid 1px #ccc;
    }

    .acoes-notificacoes {
      justify-content: space-between;
    }
  }
}
