.card-body {
  &.card-enrolled {
    padding: 15px 35px !important;
    .title {
      font-size: 14px;
      color: #686868;
    }
    .rectangle {
      font-size: 14px;
      display: flex;
      justify-content: center;
      color: #686868;
      background-color: #e8e8e8;
      border: 1px solid #a8a8a8;
      border-radius: 4px;
      padding: 10px 30px;
    }
    .beside-text {
      padding-left: 10px;
      font-size: 12px;
      color: #a8a8a8;
      span {
        color: #853cb6;
      }
    }
  }
}
